# Architecture
BR2_riscv=y
BR2_RISCV_ISA_RVC=y

# Toolchain
BR2_GCC_VERSION_14_X=y

# System
BR2_SYSTEM_DHCP="eth0"
BR2_TARGET_GENERIC_GETTY_PORT="ttyS0"

# Image
BR2_GLOBAL_PATCH_DIR="board/andes/ae350/qemu/patches"
BR2_ROOTFS_OVERLAY="board/andes/ae350/qemu/rootfs_overlay"
BR2_ROOTFS_POST_BUILD_SCRIPT="board/andes/ae350/qemu/post-build.sh"
BR2_ROOTFS_POST_IMAGE_SCRIPT="support/scripts/genimage.sh"
BR2_ROOTFS_POST_SCRIPT_ARGS="${BR2_DEFCONFIG} -c board/andes/ae350/qemu/genimage_sdcard.cfg"

# Linux headers same as kernel
BR2_PACKAGE_HOST_LINUX_HEADERS_CUSTOM_6_6=y

# Kernel
BR2_LINUX_KERNEL=y
BR2_LINUX_KERNEL_CUSTOM_TARBALL=y
BR2_LINUX_KERNEL_CUSTOM_TARBALL_LOCATION="$(call github,andestech,linux,62f0764ee0753220b21eb7da6c5aac0778c61e61)/linux-62f0764ee0753220b21eb7da6c5aac0778c61e61.tar.gz"
BR2_LINUX_KERNEL_DEFCONFIG="ae350_rv64_smp"
BR2_LINUX_KERNEL_CONFIG_FRAGMENT_FILES="board/andes/ae350/qemu/linux.config.fragment"
BR2_LINUX_KERNEL_IMAGE=y
BR2_LINUX_KERNEL_DTS_SUPPORT=y
BR2_LINUX_KERNEL_INTREE_DTS_NAME="andes/ax66_c1_d_ae350"

# Filesystem
# BR2_TARGET_ROOTFS_TAR is not set
BR2_TARGET_ROOTFS_EXT2_SIZE="512M"
BR2_TARGET_ROOTFS_EXT2=y
BR2_TARGET_ROOTFS_EXT2_4=y

# OpenSBI
BR2_TARGET_OPENSBI=y
BR2_TARGET_OPENSBI_CUSTOM_TARBALL=y
BR2_TARGET_OPENSBI_CUSTOM_TARBALL_LOCATION="$(call github,andestech,opensbi,6bc151c581803354cd0327b69b9335b32901d537)/opensbi-6bc151c581803354cd0327b69b9335b32901d537.tar.gz"
BR2_TARGET_OPENSBI_PLAT="generic"
# BR2_TARGET_OPENSBI_INSTALL_JUMP_IMG is not set

# Uboot
BR2_TARGET_UBOOT=y
BR2_TARGET_UBOOT_BUILD_SYSTEM_KCONFIG=y
BR2_TARGET_UBOOT_CUSTOM_TARBALL=y
BR2_TARGET_UBOOT_CUSTOM_TARBALL_LOCATION="$(call github,andestech,uboot,274c8e532c6fc30bb680661f420984e1031814cf)/uboot-274c8e532c6fc30bb680661f420984e1031814cf.tar.gz"
BR2_TARGET_UBOOT_BOARD_DEFCONFIG="ae350_rv64_spl_imsic"
BR2_TARGET_UBOOT_CONFIG_FRAGMENT_FILES="board/andes/ae350/qemu/uboot.config.fragment"
BR2_TARGET_UBOOT_NEEDS_PYLIBFDT=y
BR2_TARGET_UBOOT_NEEDS_OPENSSL=y
BR2_TARGET_UBOOT_NEEDS_OPENSBI=y
# BR2_TARGET_UBOOT_FORMAT_BIN is not set
BR2_TARGET_UBOOT_FORMAT_CUSTOM=y
BR2_TARGET_UBOOT_FORMAT_CUSTOM_NAME="u-boot.itb"
BR2_TARGET_UBOOT_SPL=y
BR2_TARGET_UBOOT_SPL_NAME="spl/u-boot-spl"
BR2_UBOOT_BINMAN_INDIRS="$(BINARIES_DIR)"

# QEMU for host platform
BR2_PACKAGE_HOST_QEMU=y
BR2_PACKAGE_HOST_QEMU_SYSTEM_MODE=y

# QEMU for target platform
BR2_PACKAGE_QEMU=y
BR2_PACKAGE_QEMU_SYSTEM=y
BR2_PACKAGE_QEMU_SLIRP=y
BR2_PACKAGE_QEMU_CHOOSE_TARGETS=y
BR2_PACKAGE_QEMU_TARGET_RISCV64=y
BR2_PACKAGE_QEMU_TOOLS=y

# Host Package
BR2_PACKAGE_HOST_DOSFSTOOLS=y
BR2_PACKAGE_HOST_GENIMAGE=y
BR2_PACKAGE_HOST_MTOOLS=y
